.advanced-search-box {
  border: 1px solid var(--sst-color-primary);
  width: 100%;
  min-height: 2rem;
}

.advanced-search-box:hover:not(:focus) {
  box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  background-color: #EDEDED;
}

.mark-search-field {
  color: red;
}
.mark-search-operator {
  color: blue;
}
.mark-search-value {
  color: darkslategrey;
}

.token {
  padding: 0 0.5ch;
}
